@inherits LayoutComponentBase

<div class="wrapper">

  <Topbar />

  <HorizontalNav />

  <div class="content-page">

    <main>
    
      @Body

    </main> 

    <Footer />

  </div>

</div>

<Customizer />