@inherits LayoutComponentBase

<div class="wrapper">

  <Topbar />

  <HorizontalNav />

  <div class="content-page">

    <div class="container-fluid">

      @Body

    </div> 

    <Footer />

  </div>

</div>

<Customizer />