@inherits LayoutComponentBase

<div class="wrapper">

  <Topbar />

  <Sidenav />

  <div class="content-page">

    <main>

      @Body
      
    </main> 

    <Footer />

  </div>

</div>

<Customizer />